graft docs
graft requirements
graft src
graft src/awesome_codename/data
graft tests

include *.in
include *.ini
include *.rst
include *.txt

include LICENSE
include VERSION
include Makefile

global-exclude __pycache__ *.py[cod]
global-exclude *.so *.dylib
